body {
  margin-top: 12px !important;
}

.align-left {
  margin-left: -130px !important;
  margin-right: 10px !important;
}

#offcanvasWithBothOptions {
  width: 60% !important;
}

.carousel-inner .carousel-item img {
  position: relative;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  width: 100vw !important;
  height: 550px;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px !important;
  height: 30px !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  border-radius: 60% !important;
  cursor: pointer;
  background-color: #fefafa;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.9;
  transition: opacity .6s ease;
}

.carousel-box {
  position: relative;
  margin-top: 20px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  height: 110vh;
}


.userpicture {
  width: 190px;
  font-size: 12px !important;
}

.userpic {
  width: 130px;
  margin-top: -90px !important;  
  background-color: gray;
  border-radius: 40px;
  display: block;
}

.qrCode1 {
  width: 200px;
  height: 200px;
  opacity: 0.3;
}
.qrCode2 {
  width: 200px;
  height: 200px;
}

.user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.logo {
  width: 150px;
  height: 35px;
}
.contact-bg {
  position: fixed;
  left: -1vw;
  margin-right: -2vw;
  margin-left: -1vw;
  width: 100% !important;
  height: 100%;
  background-image: radial-gradient(circle, lightgreen, rgb(231, 236, 225), rgb(236, 222, 196)  );  
}

.footer-12 {
  font-size: 12px;
}
.card-img {
  margin: 0 auto;
  max-width: 90%! important;
  height: 60vh !important;
}
.txt-justified {
  text-align: justify !important;
}
.footer-contact {
  position: fixed;
  width: 100% !important;
  bottom: 10px !important;
  align-self: center !important;
}
.contact {
  width: 80% !important;
  margin: 0 auto !important;
}
.footer-home {
  visibility: visible;
  /* margin-top: 30px !important; */
  margin-bottom: -50px !important;
}

.embossed {
  background-color: #666666;
  background-clip: text;
  -webkit-background-clip: text;
  color: #f0f0f0;
  text-shadow: 1px 4px 4px #555555;
}

@media (max-width: 991.98px) { 
  .carousel-inner .carousel-item img {
    height: auto;
    width: auto;
    max-width: 100% !important;
    max-height: 700px !important;
  }
  .footer-home {
    visibility: visible;
    width: 100% !important;
    margin-left: 5%;
  }
  .carousel-box {
    position: relative;
    visibility: visible !important;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw;
    width: 100vw !important;
    max-height: 700px !important;
    top: 10px;
    bottom: 30px !important; 
  }
  .sm {
    font-size: 10px !important;
  }
  .w-80 {
    max-width: 80% !important;
    margin: 0 auto;
  }
  .img-1 {
    width: 100% !important;
    margin: 0 auto;
  }
  .footer-contact {
    width: 90% !important;
    align-self: center !important;
  }
  .contact {
    width: 100% !important;
    margin: 0 auto !important;
  }  
 }
